/* Gloabal Values */
:root {
  --main-clr: #e51515;
  --white: white;
  --trans: 0.5s;
  --p-clr: #6c7076;
  --bg: #22232b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
}

body {
  min-height: 6000px;
  scrollbar-width: thin;
  scrollbar-color: var(--main-clr) var(--white);
}
/* costumize scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-clr);
  border-radius: 6px;
  border: 1px solid var(--white);
}

/* Grid System */
@media (min-width: 576px) {
  /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
.container {
  margin: auto;
  padding: 0 15px;
}

/* reseting values */
ul {
  list-style: none;
  padding: 0;
  display: flex;
}
a {
  text-decoration: none;
  color: initial;
}
button {
  border: none;
  background-color: transparent;
}
img {
  max-width: 100%;
  display: block;
}

/* costum components */
.header-title {
  padding: 0 20px;
  overflow: hidden;
  border-left: none;
  border-right: none;
  position: relative;
}
.header-title::before,
.header-title::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  height: 7px;
  width: 10%;
  margin: auto;
  border-top: 1px solid #363c45;
  border-bottom: 1px solid #363c45;
  top: 26px;
  transform: translateX(-50%);
}

.header-title::before {
  left: 28%;
}
.header-title::after {
  right: 18%;
}
.header-title > span {
  height: 100%;
  width: 34.5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header-title > span::before,
.header-title > span::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 50%;
  top: 30px;
  left: -189px;
  background: black;
}
.header-title > span::after {
  left: unset;
  right: -189px;
}

.header-title h3 {
  font-family: "Oswald", sans-serif;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 28px;
  overflow: hidden;
  width: fit-content;
  border-top: 1px solid;
  border-bottom: 1px solid;
  transition: var(--trans);
}
.header-title h3::before,
.header-title h3::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: var(--white);
  top: 50%;
  border: 2px solid;
  left: -80px;
  border: 4px solid #363c45;
  transform: translateY(-50%) rotate(45deg)
    skew(26deg, 26deg);
}
.header-title h3::after {
  left: unset;
}

.header-title h3 .header-in i {
  margin: 0 25px;
}

.header-title h3:hover i {
  color: var(--main-clr);
  transition: var(--trans);
  transform: rotate(0.5turn) scale(1.1);
  filter: drop-shadow(0 0 2px var(--main-clr));
}
.header-title:hover::before,
.header-title:hover > span::before {
  left: 42%;
  opacity: 0;
  transition: var(--trans);
}
.header-title:hover::after,
.header-title:hover > span::after {
  right: 32%;
  opacity: 0;
  transition: var(--trans);
}

/* header */
header .container {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top: 50px;
  align-content: flex-end;
  cursor: pointer;
}

header .container > div {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  user-select: none;
}

header .container > div:nth-child(1) ion-icon,
header .container > div:nth-child(2) ion-icon {
  position: relative;
  top: 2px;
  right: -6px;
}

header .container > div:nth-child(4) {
  font-size: 24px;
  position: relative;
  top: 7px;
}
header > div > div:nth-child(3) > div:nth-child(1) {
  position: relative;
  font-size: 24px;
}

/* cart popup */
.pop-cart {
  position: absolute;
  z-index: 1;
  background-color: var(--bg);
  color: black;
  right: -25px;
  top: 27px;
  display: none;
}
.pop-cart.active {
  display: initial;
}
.pop-cart .prices {
  background-color: var(--white);
  display: flex;
  gap: 150px;
  padding: 40px 30px 10px;
}
.pop-cart .prices p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}
.pop-cart > div:last-child {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.pop-cart > div:last-child button {
  background-color: var(--main-clr);
  color: var(--white);
  border-radius: 20px;
  padding: 10px 80px;
  filter: drop-shadow(0px 0px 10px var(--main-clr));
  font-size: 14px;
}

header > div > div:nth-child(3) > div:nth-child(1)::after {
  content: "0";
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 20px;
  top: 2px;
  height: 20px;
  display: flex;
  left: 28px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
header
  > div
  > div:nth-child(3)
  > div:nth-child(1):hover::after {
  background-color: var(--main-clr);
  color: var(--white);
}
body > header > div > div:nth-child(3) {
  position: relative;
  top: 8px;
}

.hamburger {
  font-size: 24px;
  top: 8px;
}
.hamburger .pop {
  right: 0;
  left: unset !important;
}
.hamburger .pop h5 {
  margin-bottom: 5px;
}
.hamburger .pop p {
  color: initial !important;
}

header .container > div:nth-child(1) div:nth-child(1):hover,
header .container > div:nth-child(1) div:nth-child(2):hover,
header > div > div:nth-child(3) > div:nth-child(1):hover,
.hamburger:hover {
  color: var(--main-clr);
  transition: var(--trans);
}

/* popups in logo header*/
header .container div .pop {
  left: 0;
  top: 35px;
  position: absolute;
  background-color: white;
  padding: 35px 25px;
  color: black;
  z-index: 1;
  font-size: 14px;
  width: 250px;
  display: none;
}
header .container div .pop.active {
  display: initial;
}
header .container .pop p:not(:last-child) {
  color: var(--main-clr);
  margin-bottom: 10px;
  border-top: 1px solid #6c707632;
  padding-top: 16px;
}

header .container > div:nth-child(1) > div:nth-child(2) {
  position: relative;
}
header
  .container
  > div:nth-child(1)
  > div:nth-child(2)
  .pop
  p {
  color: inherit;
}
header
  .container
  > div:nth-child(1)
  > div:nth-child(2)
  .pop
  p:last-child {
  color: var(--main-clr);
}
/* Secondary header */
.fixed-head {
  position: relative;
  top: 110px;
  background-color: var(--bg);
  border-bottom: 2px solid var(--main-clr);
}

@media (max-width: 1199px) {
  .fixed-head {
    top: 80vh;
  }
}

.fixed-head .container > ion-icon {
  color: grey;
}

.fixed-head .container .btns {
  display: flex;
  gap: 80px;
  padding: 45px 10px 30px;
  margin-left: 50px;
}
.fixed-head .container .btns ion-icon {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.fixed-head .container .btns button {
  background-color: unset;
  border: unset;
  position: relative;
}
.fixed-head .container .btns button a {
  color: white;
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
  position: relative;
}
.fixed-head .container .btns button.active::before,
.fixed-head .container .btns button:hover::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 100px;
  background-color: red;
  left: 50%;
  transform: translate(-50%, -46%) skewX(-30deg);
}

/* hover to popup */
.fixed-head
  .container
  .btns
  button:nth-of-type(2):hover
  .pop,
.fixed-head
  .container
  .btns
  button:nth-of-type(3):hover
  .pop {
  display: flex;
}
/* popups */
.fixed-head .container .btns button .pop {
  position: absolute;
  top: 48px;
  left: -53px;
  background-color: var(--white);
  gap: 65px;
  text-align: left;
  padding: 40px 100px 40px 30px;
  display: none;
  transition: var(--trans);
}
.fixed-head .container .btns button .pop h6 {
  margin-bottom: 15px;
  font-size: 14px;
  width: 128px;
}
.fixed-head .container .btns button .pop p {
  margin-bottom: 10px;
  width: 100px;
}
/* Landing page */
main {
  position: relative;
  top: -146px;
  z-index: -1;
}
main .landing-page {
  min-height: 100vh;
  background-image: url(http://demo.posthemes.com/pos_aero/layout3/modules/posslideshows/images/1bd5364ecde77c8a9f166c7d0420c216ef41df9f_3.jpg);
  /* http://demo.posthemes.com/pos_aero/layout3/modules/posslideshows/images/a383a26ff82c7e70743ff1868b4730717083a56e_1.jpg */
}

.landing-page .container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
}
@media (max-width: 1199px) {
  .landing-page .container {
    display: none;
  }
}
.landing-page .container::before {
  content: "";
  position: absolute;
  width: 99vw;
  left: 50%;
  transform: translateX(-50%);
  top: -1px;
  height: 100%;
  background: black;
  opacity: 0.3;
  z-index: 1;
  border-top: 0.5px solid rgb(255 255 255 / 55%);
}

.landing-page .container .text {
  text-align: center;
  z-index: 3;
  padding: 30px 80px;
}
.landing-page .container .text:nth-child(2) {
  border-left: 0.5px solid rgb(255 255 255 / 15%);
  border-right: 0.5px solid rgb(255 255 255 / 15%);
}

.landing-page .container .text h3 {
  margin-bottom: 15px;
  font-weight: normal;
  width: 200px;
  font-size: 17px;
  color: var(--white);
}
.landing-page .container .text p {
  color: var(--p-clr);
  font-size: 12px;
}

/* Gallery */
.gallery .container {
  display: flex;

  gap: 30px;
  justify-content: center;
}
@media (max-width: 1199px) {
  .gallery .container {
    flex-wrap: wrap;
  }
}
.gallery .container div {
  position: relative;
  z-index: 1;
}
.gallery .container div::before,
.gallery .container div::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  background: transparent;
  color: var(--white);
  z-index: 1;
  opacity: 0;
  transition: var(--trans);
}
.gallery .container div::before {
  border-top: 1px solid;
  border-left: 1px solid;
  left: 20px;
  top: 20px;
}
.gallery .container div::after {
  border-bottom: 1px solid;
  border-right: 1px solid;
  right: 20px;
  bottom: 20px;
}

.gallery .container div:hover::before,
.gallery .container div:hover::after {
  opacity: 1;
  height: 30px;
  width: 30px;
}

/* category */

.category {
  margin-top: 80px;
}

.category .txt {
  margin: 25px auto 50px;
  text-align: center;
}

.category .taps {
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
.category .taps li {
  position: relative;
  font-weight: bold;
  font-size: 12px;
  padding: 20px;
}
.category .taps li:not(:last-child):after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  background-color: #e1e1e1;
  right: -15px;
  top: 23px;
  transform: rotate(45deg);
}
.category .taps li.active {
  color: var(--main-clr);
}

.products {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  );
  gap: 30px;
}
.products .product {
  border-radius: 30px;
  border: 1px solid #eeeeee;
  position: relative;
}
.products .product:hover {
  box-shadow: 1px 5px 6px grey;
}

/* eye hover */
.products .product i.fa-eye {
  position: absolute;
  left: 20px;
  top: 55px;
  z-index: 1;
  opacity: 0;
  transition: var(--trans);
  font-size: 20px;
}
.products .product:hover i.fa-eye {
  opacity: 1;
}
.products .product i.fa-eye:hover {
  color: var(--main-clr);
}
.products .product .img-box {
  position: relative;
  cursor: pointer;
}
.products .product .img-box::before,
.products .product .img-box::after {
  content: "NEW";
  position: absolute;
  height: fit-content;
  width: fit-content;
  background: var(--bg);
  color: var(--white);
  padding: 5px 15px;
  font-size: 10px;
  left: 15px;
  top: 15px;
  border-radius: 5px;
}
.products .product .img-box > span {
  position: absolute;
  left: 5px;
  top: 21px;
  border: 5px solid;
  border-color: transparent var(--bg) transparent
    transparent;
}
.products .product .img-box > span::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: #eeeeee;
  border-radius: 50%;
  top: -2px;
  left: 9px;
}
.products .product .img-box > span::after {
  content: "";
  position: absolute;
  background: #eeeeee;
  height: 21px;
  width: 30px;
  left: 53px;
  top: -11px;
  clip-path: polygon(
    10% 23%,
    0 12%,
    20% 0,
    20% 100%,
    0 80%,
    10% 60%,
    0 41%
  );
}
.products .product .img-box img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.products .product .content {
  padding: 20px;
}

.products .product .content p:not(:nth-child(3)) {
  border-bottom: 1px solid #eeeeee;
  padding: 18px 0;
}
.products .product .content p:first-child {
  font-size: 14px;
}
.products .product .content p:first-child i:first-child {
  margin-left: 10px;
}
.products .product .content p:first-child i {
  color: #ffcc00;
  font-size: 12px;
}
.products .product .content p:first-child i:last-child {
  color: #b6b6b6;
}
.products .product .content p:nth-child(2) {
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}
.products .product .content p:nth-child(2):hover {
  color: var(--main-clr);
}
.products .product .content p:nth-child(3) {
  color: var(--main-clr);
  font-weight: bold;
  padding: 20px 0;
}

.products .product .content button {
  background-color: #eeeeee;
  color: var(--p-clr);
  padding: 10px 10px 10px 35px;
  border-radius: 25px;
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
  transition: var(--trans);
  position: relative;
  cursor: pointer;
  font-weight: bold;
}
.products .product .content button:hover {
  background-color: var(--main-clr);
  color: var(--white);
}
.products .product .content button:hover i {
  filter: hue-rotate(360deg);
}
.products .product .content button ion-icon {
  font-size: 20px;
  position: absolute;
  left: 25%;
  top: 5px;
}
.products .product.sale .content .on-sale {
  height: fit-content;
  width: fit-content;
  padding: 3px 5px;
  margin-right: 10px;
  border-radius: 3px;
  display: inline;
  color: initial;
  background-color: #ffcc00;
  font-weight: normal;
}

.products .product.sale .img-box::after {
  content: "SALE!";
  left: unset;
  right: 20px;
  background-color: var(--main-clr);
}
.products .product.sale span.on-sale {
  left: unset;
  border-color: transparent red transparent transparent;
  right: 78px;
}
.products .product.sale span.on-sale::after {
  z-index: 1;
  left: 58px;
}
.products .product.sale span.on-sale::before {
  z-index: 1;
}
